---
import { getCollection } from "astro:content";
import Layout from "../../layouts/Layout.astro";

export async function getStaticPaths() {
  const issueEntries = await getCollection("issues");
  return issueEntries.map((issue) => ({
    params: { slug: issue.slug },
    props: { issue },
  }));
}

const { issue } = Astro.props;
const { Content } = await issue.render();
const title = `Сова рассылает выпуск #${issue.data.number}`;
---

<Layout title={title}>
  <main class="container mx-auto mt-6 px-6 max-w-[65ch]">
    <a href="/" class="hover:underline">↵ Вернуться</a>
    <h1 class="text-5xl mb-10 mt-3">{title}</h1>
    <div class="prose">
      <Content />
    </div>

    <div class="mt-24">
      <form
        class="p-4 my-8 w-full bg-white border border-gray-200 rounded-lg shadow-md sm:p-6 lg:p-8"
        action="https://api.follow.it/subscription-form/SmwwVHRIcmdiSWdjNUE4UEZuZkduMzcwd3FHT1FpMXpOTFhnSFN2aHcrMzIyZ3NUOEdjM3RmWW5ndU9QVjJQYjBjNTlZZEdMNmtVZ1JjdFpsNXI4c1h1RW13eGdHU1AvUVJuZzA0b2UzRUxqMEdTVTVhZ3QrVkFqdmJZZXFDb0l8N3Y0a0ZaVlZhQW9wTmtlYjgvRnVDeThPUEQvOWEyWnBZc21ZM2dWMFBYST0=/8"
        method="post"
      >
        <h3 class="mb-3 text-xl font-medium text-gray-900">
          Получайте больше на почту…
        </h3>
        <p class="mb-5 text-sm font-medium text-gray-500">
          Вы можете получать подобные подборки новостей на почту. Я отправляю их
          не чаще раза в неделю, может даже реже.
        </p>
        <p class="mb-5 text-sm font-normal text-gray-500">
          Каждая ссылка перед добавлением в рассылку проходит моё ревью, я читаю
          содержимое и анализирую полезность для подписчиков.
        </p>
        <div class="flex items-center mb-3 w-full max-w-md">
          <div class="relative w-full mr-3">
            <div
              class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="w-5 h-5 text-gray-500"
                width="56"
                height="56"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="#2c3e50"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round"
              >
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <rect x="3" y="5" width="18" height="14" rx="2"></rect>
                <polyline points="3 7 12 13 21 7"></polyline>
              </svg>
            </div>
            <input
              type="email"
              name="email"
              required="required"
              placeholder="Укажите свою почту"
              spellcheck="false"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full pl-10 p-2.5"
            />
          </div>
          <button data-v-2bdb5506="" type="submit"
            ><span
              class="cursor-pointer text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-3 text-center"
              >Подписаться!</span
            ></button
          >
        </div>
      </form>
    </div>
  </main>
</Layout>
